/* caratteristiche globali */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contenitore{
    width: 80%;
    margin: 10px auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Luckiest Guy', cursive;
}

/* fine caratteristiche globali */
/* TESTA e paragrafi semplici */

.paragrafo1{
    
    margin: 20px auto;
}
footer{
    text-align: center;
    margin: 10px auto;
}
/* fine testa ecc */
/* tre colonne */

.lati{
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}
.centro{
    width: calc((100% / 5) * 3 - 10px);
    margin: 5px;
      float: left;
}
.box1{
    width: 100%;
     color: gray;
}
/* fine 3 colonne */
/* logo e menù di navigazione */
header img{
    width: 20%;
    height: 20%;
    border-right: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
.elementi{
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
}
.no-decorazioni{
    text-decoration: none;
    color: gray;
}
/* fine logo e menù */
/* bannerone */
#banner{
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
#banner img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

}
#testo-pubblicita{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50%;
    color: white;
}
.layout-nero{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.323);
    border-radius: 15px;
}
/* fine bannerone */
/* 3 colonne */
.lati img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.centro img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.scatola{
    position: relative;
}
/* colori */
h4{
    color: gray;
}
h2{
    color: black;
}
/* fine colori */