/* caratteristiche globali */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contenitore{
    width: 80%;
    margin: 10px auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* fine caratteristiche globali */
/* TESTA e paragrafi semplici */

.paragrafo1{
    background-color: cornflowerblue;
    margin: 10px auto;
}
footer{
    background-color: saddlebrown;
    margin: 10px auto;
}
/* fine testa ecc */
/* tre colonne */

.lati{
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: slategray;
    float: left;
}
.centro{
    width: calc((100% / 5) * 3 - 10px);
    margin: 5px;
    background-color: slategray;
    float: left;
}
.box1{
    background-color: tomato;
}
/* fine 3 colonne */
.nomarginesotto{
    margin-bottom: 0;
}
/* logo e menù di navigazione */
header img{
    width: 20%;
    height: 20%;
    border-right: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
.elementi{
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
}
/* fine logo e menù */
/* bannerone */
#banner{
    position: relative;
    width: 100%;
    height: 400px;
}
#banner img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#testo-pubblicita{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 50%;
    color: white;
}
.layout-nero{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.323);
}
/* fine bannerone */
